*{
    text-align: center;
    font-size: x-large;
    margin: 1%;
}
.main{
    background-color: rgb(166, 221, 65);
    border: 2px solid black;
    
}
.header{
    width: 97%;
    height: 15vh;
    border: 2px solid black;
    background-color: rgb(3, 141, 60);
}
.menu{
    width: 97%;
    height: 10vh;
    border: 2px solid black;
    background-color: lightblue;
}
.center{
    width: 99.7%;
    margin: 0;
    padding: 0;
}
.sidemenu{
    width: 30%;
    height: 60vh;
    border: 2px solid black;
    background-color: rgb(70, 70, 240);
    margin-left: 0%;
    margin-right: 0%;
}
.content{
    width: 65.5%;
    height: 60vh;
    margin-right: 0;
    margin-right: 0;
    border: 2px solid black;
    background-color: blueviolet;
}
.footer{
    width: 97%;
    height: 15vh;
    border: 2px solid black;
    background-color: rgb(218, 112, 51);
}
.sidemenu, .content{
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}